.container-fluid {
    /* background-color: #cd5c5c; */
    height: 100vh;
    /* background-color: #f08080; */
    position: relative;
}

.home-title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
h1 {
    font-size: 5rem;
    color: #fff8f8;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
}
.paragraph {
    font-size: 1.3rem;
    color: #c12525;
    font-weight: 500;
    text-transform: uppercase;
}
.tinder-logo {
    width: 300px;
}
.items {
    display: grid;
    align-items: center;
    justify-items: center;
}
.login-btn {
    background-color: #FFEEEE;
    border-color: #FFEEEE;
    color: #f08080;
    width: 100px;
    font-weight: 500;
}
.login-btn:hover {
    background-color: #c12525;
    border-color: #c12525;
    color: #FFEEEE;
    width: 100px;
    font-weight: 500;
}
